img, object, input[type="image"] {
  display: none !important;
}

*{
  background-color: #fff !important;
  background-image: none !important;
  color: #000 !important;
  font-family: "Timies New Roman" !important;
}
